name: Deploy to local runner

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Show Java version
        run: java -version

      - name: Build app with Maven
        run: mvn -B clean install -DskipTests

      - name: Deploy using Docker Compose
        env:
          DOCKER_HOST: 'npipe:////./pipe/dockerDesktopLinuxEngine'   # pro Windows Docker Desktop
        run: |
          docker compose -f compose.yaml down || echo "Nothing to stop"
          docker compose -f compose.yaml up -d --build --remove-orphans
